/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the body */
/* Update the body styles to set the background image */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
 /* background: url('/bg.png') center/100% 100% no-repeat; */

  background-image: url('/images/bg.png');
  background-repeat: repeat-y;
  background-position: 50% 0;
 transition: 0s linear;
 transition-property: background-position;
 color: #333;
}

/* Header styles */
header {

  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Hero section styles */
#hero {
  padding: 80px 20px;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Services section styles */
#services {
  padding: 60px 20px;
  text-align: center;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
margin-left: 10px;
  margin-bottom: 20px;
}

.service-block img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Set a fixed height for the image container */
.service-block img {
  height: 200px; /* Adjust the height as needed */
}

.service-block h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.service-block p {
  font-size: 14px;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Work section styles */
#work {
  padding: 60px 20px;
  text-align: center;
}

.work-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-item {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.work-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Team section styles */
#team {
  padding: 60px 20px;
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact section styles */
#contact {
  padding: 60px 20px;
  text-align: center;
}

.contact-form {
  /* Style contact form */
}